*{box-sizing: border-box;
margin: 0;
height: 100%;
}

#izquierda {
  float: left;
  border: black thin solid;
  width: 25%;
  height: 100%;
  background-color: red
}
#derecha {
  float:right;
  border: black thin solid;
  width: 25%;
  height: 75%;
  background-color: red



}
#top {
  float:left;
  border: black thin solid;
  width: 75%;
  height: 25%;
  text-align: center;
  background-color: yellow;
  font-size: 90px;
}
#derecha1 {
  float:right;
  border: black thin solid;
  width: 25%;
  height: 25%;
  background-color: red

}
#Medio1 {
  float:right;
  border: black thin solid;
  width: 25%;
  height: 45%;
  background-color:  #18d4e4;

}
#Medio3 {
  float:right;
  border: black thin solid;
  width: 25%;
  height: 45%;
  background-color:  #18d4e4;


}
#Medio2 {
  float:right;
  border: black thin solid;
  width: 50%;
  height: 30%;
  background-color: green

}
